{% comment %}Check for related products and increase limit by one (to offset the currently selected product that is removed from the product loop){% endcomment %}
{% if related_products == true %}
  {% assign limit = limit | plus: 0 %}
  {% assign loop_limit = limit | plus: 1 %}
{% else %}
  {% assign limit = limit | plus: 0 %}
  {% assign loop_limit = limit | plus: 0 %}
{% endif %}

{% if per_slide != blank %}
  {% assign visible_products = per_slide %}
{% else %}
  {% if section.settings.products_per != blank %}
    {% assign visible_products = section.settings.products_per | plus: 0 %}
  {% else %}
    {% assign visible_products = block.settings.products_per | plus: 0 %}
  {% endif %}
{% endif %}


{% if template contains 'product' %}
  {% if limit <= visible_products %}
    {% assign products_length = limit %}
  {% else %}
    {% assign products_length = products.length | minus: 1 %}
  {% endif %}
{% elsif featured_collection %}
  {% assign products_length = collections[featured_collection].products.length %}
{% else %}
  {% assign products_length = products.length %}
{% endif %}

<div class="slider-gallery products-slider products-length-{{ products_length }} transparentBackground--{{settings.slideshow_button_style}}"
      data-products-per-slide="{{ visible_products }}"
      data-products-limit="{{ limit }}"
      data-products-available="{{ products_length }}">
  {% for product in products limit: loop_limit %}

    {% if product.available %}
    {% if product.id != skip_product.id %}
      {% assign feature_image = product.featured_image %}
      <div class="gallery-cell thumbnail visible-{{ visible_products }}">
        <div class="product-wrap">
          <div class="relative product_image swap-{{ settings.collection_secondary_image }}">
            <a href="{{ product.url | within: collection }}" itemprop="url">
              <div class="image__container">
                {% include 'image-element', image: feature_image, alt: product.title, object_fit: settings.align_height, max_height: settings.collection_height %}
              </div>
                {% if settings.collection_secondary_image != blank %}
                  {% if product.images[1] != blank %}
                    {% assign secondary_image = product.images[1] %}
                  {% else %}
                    {% assign secondary_image = product.featured_image %}
                  {% endif %}
                  <img  src="{{ secondary_image | img_url: '800x' }}"
                        class="secondary lazyload"
                        alt="{{ product.title | escape }}"
                        />
                {% endif %}
              </a>
            {% include "product-details" %}
          </div>
          <a class="product-info__caption {% if settings.thumbnail_hover_enabled %}hidden{% endif %}" href="{{ product.url | within: collection }}" itemprop="url">
            {% include "product-info" %}
          </a>
        </div>
        <a href="{{ product.url | within: collection }}" itemprop="url" class="slider-product-url">
          <img data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/t/276/assets/addplus-1687351506798.png" class="lazyload"/>
        </a>
      </div>
    {% endif %}
    {% endif %}
  {% endfor %}
</div>

<style>
  .whats-hot-slider .thumbnail .title{
    font-size: 18px!important;
    margin-top: 0!important;
    margin-bottom: 15px!important;
    text-transform: initial!important;
    text-align: center!important;
    font-family: "effra_bold-webfont" !important;
    color: grey!important;
    font-weight: 700!important;
    line-height: 20px!important;
    min-height: 40px !important;
  }
  .whats-hot-slider .shopify-reviews{
    display:none;
  }
  .whats-hot-slider .thumbnail .price span.money{
    font-family: "effra_regular-webfont"!important;
    font-weight: 500!important;
    color: grey!important;
  }
  .whats-hot-slider .apaylater-widget .main-span span{
    font-family: "Effra Light" !important;
    font-weight: 500 !important;
    color:#808080 !important;
  }
  .slider-gallery .gallery-cell a.slider-product-url img{
    width:40px;
    margin: auto;
  }
  .whats-hot-slider .products-slider{
    padding-bottom: 50px;
    margin-bottom: 0;
  }
  .whats-hot-slider .flickity-page-dots{
    bottom:15px;
  }
  .whats-hot-slider .slider-gallery.transparentBackground--false .flickity-page-dots .dot{
    height: 4px;
    width: 40px;
    margin: 0;
    border-radius: 0;
    background: #808080;
  }
  .whats-hot-slider .slider-gallery.transparentBackground--false .flickity-page-dots .dot.is-selected{
    position: relative;
    height: 6px;
    top: 1px;
  }
  .whats-hot-slider .slider-gallery .flickity-prev-next-button{
    opacity:1;
  }
  @media (max-width: 767px){
    .slider-gallery .gallery-cell a.slider-product-url img {
      width: 35px;
    }
    .whats-hot-slider .thumbnail .title{
      font-size: 14px!important;
      line-height: 16px!important;
    }
    .whats-hot-slider .flickity-page-dots{
      position:relative !important;
      bottom: -20px;
    }
  }
  @media only screen and (max-width: 798px){
.whats-hot-slider .products-slider.slider-gallery .gallery-cell.visible-5 {
    width: calc(50% - 10px);
}
  }
</style>
